/* GOOGLE FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Karla&family=Montserrat&family=Open+Sans&display=swap');
/* STYLING */



body {
  background-color: black !important;
  color: white !important;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  background-color: black;
  color: white;
}

.sample-metadata, #sample-metadata {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.sample-metadata, #sample-metadata, .panel-heading {
  margin: -1px
}
div .well {
  border: 0px;
  border-radius: 0px;
  margin-bottom: 5rem;
  background-color: black;
  color: white;
  border: 3px solid white;
}
h3 {
  text-align: center;
}
.jumbotron {
  background-color: black !important;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  font-family:  'Montserrat', sans-serif;
  font-variant: small-caps;
  margin-top: 5rem;
}
#selDataset {
  color: black;
}
#bubble {
  margin-top: 40px;
}
#delta {
  font-size: 2px;
}
footer {
  padding-top: 10rem;
  text-align: center;
  margin-top: auto;
  color: maroon;
}



/* TEST */






