/* GOOGLE FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Karla&family=Montserrat&family=Open+Sans&display=swap');
/* STYLING */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body, .sample-metadata, #sample-metadata {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.sample-metadata, #sample-metadata, .panel-heading {
  background-color: #0d0d0d;
  margin: -1px
}
.well {
  background-color: #0d0d0d;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 5rem;
}
h3 {
  text-align: center;
}
.jumbotron {
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  font-family:  'Montserrat', sans-serif;
  font-variant: small-caps;
  margin-top: 5rem;
}
#selDataset {
  color: black;
}
#bubble {
  margin-top: 40px;
}
#delta {
  font-size: 2px;
}
footer {
  padding-top: 10rem;
  text-align: center;
  margin-top: auto;
  color: maroon;
}



/* TEST */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
  body{
    background-color: green
  }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  body{
    background-color: red
  }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  body{
    background-color: yellow
  }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  body{
    background-color: black
  }
}





